

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
}

body{
  height: 100%;
  background-image: url(../images/eclipse-bg.svg);
}

header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 160px;
}

.nav-links{
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a{
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
  color: #c87e13;
}

li{
  list-style: none;
  margin-left: 30px;
}

a{
  text-decoration: none;
  font-size: .7rem;
  text-transform: uppercase;
  position: relative;
}

li, a{
  font-weight: 500;
  margin-right: 50px;
  font-size: 24px;
  color: #edf0f1;
  text-decoration: none;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title-header img{
  width: 30%;
  margin-top: 100px;
  margin-left: 450px;
}
