

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  scroll-behavior: smooth;
}

body{
  background-image: url(../images/php-main-bg.svg);
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 160px;
  border-bottom: 1px solid #1a191a;
  background-color: #2c2a2b;
}

.nav-links{
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a{
  transition: all 0.3s ease 0s;
  font-weight: bold;
}

.nav-links li a:hover{
  text-decoration: underline;
  font-size: 15px;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  font-size: .7rem;
  text-transform: uppercase;
  position: relative;
}

li, a{
  font-weight: 500;
  font-size: 14px;
  color: #edf0f1;
  text-decoration: none;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-info-section{
  display: flex;
  flex-direction: column;
  height: calc(100vh - 81.6px);
}

.php-main-info h1{
  color: #fff;
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
  margin-top: 12%;
  text-shadow: 0px 0px 12px rgba(0,0,0,0.75);
}

.php-header-border{
  width: 100px;
  height: 4px;
  background: #fff;
  margin-top: 8px;
  margin-left: 47.4%;
}

.php-header-logo img{
  display: flex;
  flex-direction: column;
  width: 10%;
  margin-left: 45%;
  margin-top: 3%;

}

.php-text-info{
  display: flex;
  flex-direction: column;
  font-size: 24px;
  width: 37%;
  text-align: left;
  margin-left: 32%;
  margin-top: 3%;
  line-height: 35px;
  color: #fff;
}

span{
  font-weight: bold;
}

.php-tool{
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content: space-between;
  background-image: url(../images/php-tool-bg.svg);
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.php-tool-info{
  font-size: 24px;
  padding: 50px;
  position: relative;
  top: 18%;
  left: 5%;
  transform: translateX(-50%);
  width: 35%;
}

.php-tool h1, .php-debug h1{
  font-size: 4rem;
  z-index: 0;
}

#php-tool-screen{
  margin-right: 5%;
  margin-top: -2%;
}

.php-framework{
  height: 100vh;
  background-image: url(../images/php-framework-bg.svg);
  color: #fff;
}

.php-framework-info{
  font-size: 24px;
  padding: 50px;
  position: relative;
  top: 32%;
  left: 75%;
  transform: translateX(-50%);
  width: 35%;
  text-align: right;
}

.php-framework h1, .php-dl h1{
  font-size: 4rem;
  z-index: 0;
  text-align: right;
}

#php-framework-screen{
  margin-left: 5%;
  margin-top: -2%;
}

.php-debug{
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content: space-between;
  background-image: url(../images/php-debug-bg.svg);
  color: #fff;
}

.php-debug-info{
  font-size: 24px;
  padding: 50px;
  position: relative;
  top: 18%;
  left: 5%;
  margin-top: 6%;
  transform: translateX(-50%);
  width: 35%;
}

#debug-screen{
  margin-right: 5%;
  margin-top: -2%;
}

.php-dl{
  height: 100vh;
  background-image: url(../images/php-dl-bg.svg);
  color: #fff;
}

.php-dl-info{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

button{
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
}

.php-text-dl-info{
  font-size: 18px;
  margin-top: 5%;
}

#php-btn-dl{
  background-image: linear-gradient(to right, #3A1C71 0%, #D76D77  51%, #3A1C71  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  display: block;
  border-radius: 2px;
}

#php-btn-dl:hover{
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

#php-dl-logo{
  width: 20%;
}

footer{
  padding: 30px 0;
  color: #fff;
  border-top: 1px solid #1a191a;
  background-color: #2c2a2b;
}

.footer-container{
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.center-content h1{
  font-size: 26px;
  text-align: center;
}

.border{
  width: 100px;
  height: 4px;
  background: #fff;
  margin-top: 8px;
  margin-left: 82px;
}

.social-media{
  margin: 20px 0;
  text-align: center;
  margin-left: 25px;
}

.social-media a{
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: .3s linear;
}

.social-media a:hover{
  color: #d33838;
}

#php-footer-created{
  margin-left: 10%;
}
